body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.photo {
  justify-content: space-around;
  margin-right: -30%;
  left: 15%;
  height: 400px;
  width: 700px;
  transform: translate(20%, 10%);
  margin-bottom: 4em;
}
.BMI {
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -20%;
  transform: translate(-50%, -25%);
}
#switch {
  left: 15%;
}
.barchart {
  margin-right: -20%;
  top: 70%;
  left: 15%;
  position: absolute;
  margin-bottom: auto;
}
