html,
body {
  height: 100vh;
}

body {
  font-family: sans-serif;
  background-color: #cee4c8;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.photo {
  justify-content: space-around;
  margin-right: -30%;
  left: 15%;
  height: 400px;
  width: 700px;
  transform: translate(20%, 10%);
  margin-bottom: 4em;
}
.BMI {
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -20%;
  transform: translate(-50%, -25%);
}
#switch {
  left: 15%;
}
.barchart {
  margin-right: -20%;
  top: 70%;
  left: 15%;
  position: absolute;
  margin-bottom: auto;
}

/* .footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(193, 192, 189);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
} */

footer {
  bottom: 0;
  width: 100%;
  position: relative;
  position: absolute;
}
