html,
body {
  height: 100vh;
}

body {
  font-family: sans-serif;
  background-color: #cee4c8;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  margin-bottom: 1rem;
}

.footer {
  padding: 1rem;
  background-color: rgb(193, 192, 189);
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}
.BMI {
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -20%;
  transform: translate(-50%, -50%);
  width: 75%;
}

#switch {
  left: 15%;
}

#bmibox {
  background-color: #f5f5f5;
  box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 25%);
  border-radius: 1rem;
  padding: 1rem;
}
