svg#freepik_stories-smiley-face:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-smiley-face.animated #freepik--Character--inject-7 {
  animation: 1.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn,
    6s Infinite linear floating;
  animation-delay: 0s, 1.5s;
}
svg#freepik_stories-smiley-face.animated #freepik--Plant--inject-7 {
  animation: 1.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight,
    1.5s Infinite linear wind;
  animation-delay: 0s, 1.5s;
}
svg#freepik_stories-smiley-face.animated #freepik--smiley-faces--inject-7 {
  animation: 1.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp,
    6s Infinite linear floating;
  animation-delay: 0s, 1.5s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
